@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
$fg: #fff;
@mixin flex($jus: center, $alg: center){
    display: flex;
    justify-content: $jus;
    align-items: $alg;
}

@mixin dim($ln, $hg){
    width: $ln;
    height: $hg;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    @media (min-width: 700px) {
      font-size: calc(10px + 0.5vw);
    }
  }

body{
    background-color: #222222;
}

header{
    color: $fg;
    // font-family: 'Allura', cursive;
    font-family: 'Comforter Brush', cursive;
    @include dim(100vw, auto);
    padding: 8vh 0 3vh 0;
    text-align: center;   
    font-size: 2.2rem;
}

.container{
    height: 70vh;
    @include flex(space-between, center);
    flex-direction: column;
    .canvas{
        height: 50vh;
        display: grid;
        grid-template-columns: repeat(3, 17vh);
        grid-template-rows: repeat(3, 17vh);
        grid-gap: 5px;
        .box{
            background: #222222;
            box-shadow: inset 5px 5px 10px #171717,
            inset -5px -5px 10px #2d2d2d;
            border-radius: 10px;
            cursor: pointer;
            @include flex();
            font-size: 2.5rem;
            color: $fg;
            font-family: 'Allura', cursive;
            font-weight: 900;
        }
    }
    .turn{
        color: orange;
        font-size: 2rem;
    }
    button{
        font-size: 2rem;
        background-color: transparent;
        border: none;
        outline: none;
        border-radius: 10px;
        color: $fg;
        cursor: pointer;
    }
    #p_again{
        display: none;
    }
    #start_btn{
        background: #222222;
        box-shadow: inset 7px 7px 14px #171717,
            inset -7px -7px 14px #2d2d2d;
        width: 250px;
        padding: 2vh;
        border-bottom: 2px solid #494949;
        transition: 500ms;
        &:hover{
            border-bottom: 2px solid white;
        }
    }
}

@media all and (max-width: 600px){
    .container{
        .canvas{
            grid-template-columns: repeat(3, 14vh);
            grid-template-rows: repeat(3, 14vh);
        }
    }
}